version: "3"

services:
  bot:
    container_name: "MeowMix"
    build: .
    volumes:
      - ./.env:/discord_bot/.env
      - ./cogs:/discord_bot/cogs
      - ./utils:/discord_bot/utils
    depends_on: 
      db:
        condition: service_healthy

  db:
    image: postgres
    container_name: "MeowMixdb"
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
          test: ["CMD-SHELL", "pg_isready -U meowmix"]
          interval: 10s
          timeout: 5s
          retries: 5 
    volumes:
      - ./db:/var/lib/postgresql/data/